body{

  background-color: #5b3a31;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.body{
  margin-top: 150px;
}
.body-grid{
  display: grid;
  z-index: 100;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  column-gap: 10px;
  row-gap: 50px;
align-items: center;
  justify-content: space-between;
}
.button-div{
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
   background-color: #e2902a;
   color: white;
width: 250px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 5px;
padding-left: 5px;
text-decoration: dotted;
border-radius: 5px;
transition: padding 0.5s;
}
.button-div:hover{
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px ;
  padding-right:24px ;
}
a{
  text-decoration: none;
}
.journey{
background-color: #5b3a31;
color: white;
border: none;
padding: 8px;
  font-size: 12px;
  border-radius: 15px;
  margin-top: 30px;
  cursor: pointer;
}

.skill{
width: 280px;
text-align: center;
font-size: 20px;
}
.text{
  text-align: center;
  color: white;
  font-weight: 500;
}
strong{
  color: #e2902a;
  text-decoration: underline;
}
.left-section{
  display: flex;
  vertical-align: top;
}
.search-div{
  flex: 0.3;
 display: flex;

}
.footer-head-img{
  width: 30px;
margin-top: 23px;
margin-right: 10px;
   
}
.footer-head p{
color: white;
font-weight: 500;
}
.footer-text{
  flex: 1;
 
  margin-left: 10px;
  font-size: 24px;
}
.footer-head{
  display: flex;

  background-color: #e2902a;
  margin-top: 50px;
}
.footer-body{
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

.footer-body-div{
  width: 300px;
  flex: 1;
  vertical-align: top;

  }
  .footer{
   font-size: 20px;
   font-weight: 500;
    }
    .description{
      width: 150px;
    }
